<% provide(:title, 'Home') %>
	  <div class="row demo-row">
      <div class="span6">
      <h1 class="demo-logo">
          <div class="tile">
          <small>Consigue los retos que te propongas</small>
          <p>Página web dedicada donde podrás controlar tus objetivos de una manera divertida</p>
          </div>
        </h1>
      </div>
    </div>
      <div class="row demo-row margin-botton-login">
      <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-primary">Sube un reto</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-info">Login</a>
        </div>
        <div class="login-form span6" >
            <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name" />
              <label class="login-field-icon fui-man-16" for="login-name"></label>
            </div>

            <div class="control-group">
              <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" />
              <label class="login-field-icon fui-lock-16" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-large btn-block" href="#">Login</a>
            <a class="login-link" href="#">Lost your password?</a>
          </div>
        </div>

        <div class="row demo-row">
      <div class="span7">
      <div class="demo-browser-author"></div>
        <dl class="palette palette-firm">
          <dt>Albert ha conseguido su reto: Hacer un MVP de JoPuc</dt>
          <dd>Por conseguir el reto se ha regalado una GoPro</dd>
        </dl>
        <a href="#">Explorar los últimos retos</a>
      </div><!-- /demo-headline -->
      
      </div>