<% provide(:title, @user.name) %>
<div class="row demo-row">
    <aside class="span5">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/challenge_form' %>
      </section>
    </aside> 
      <div class="span7" >
          <% if @user.challenges.any? %>
      <h3>Retos (<%= @user.challenges.count %>)</h3>
      <ol class="challenges">
        <%= render @challenges %>
      </ol>
    <% else %>
    Aún no tienes retos
    <% end %>
      </div>
</div>