

.margin-botton-login{
	margin-bottom: 20%;	
}

.menu-home{
	margin-top: 30px;
	}
	
.menu-home .navbar-inverse .navbar-inner{
	background: transparent!important;	
}

.error-message{
	color: #c0392b;
}

.home-background{
	background: url('/assets/bg.jpg') no-repeat center center fixed;
}

.login-form p{
	color:#34495e;
}